html{
	overflow: hidden;
}

body{
	overflow-x: hidden;
	overflow-y: scroll;
}

section{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

@media(max-width: 767px){
	html{
		overflow-x: hidden;
		overflow: visible;
	}
	section{
		position: static;
		display: block;
		padding-top: 50px;
	}
}



/*******************************************/
/* Slidable section styles (non-important) */
/*******************************************/
section#home{
	background-color: red;
}

section#ebook{
	background-color: green;
}

section#services {
	background-color: orange;
}